In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName("RODExample").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 08:39:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/21 08:39:31 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
df = spark.createDataFrame([[1,2,3]])

In [7]:
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
+---+---+---+

In [8]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [9]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [16]:
schema='a long, b double, c string, d date, e timestamp'

In [17]:
data=([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
])

In [19]:
df1= spark.createDataFrame(data,schema)

In [20]:
df1.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [22]:

data2= [(1,'a','z',777700,'India'),(2,'b','y',9890,'India')]
schema = "id int, name string,last_name string, mo int, country string"
df3=spark.createDataFrame(data2,schema)
df3.show()

+---+----+---------+------+-------+
| id|name|last_name|    mo|country|
+---+----+---------+------+-------+
|  1|   a|        z|777700|  India|
|  2|   b|        y|  9890|  India|
+---+----+---------+------+-------+

In [23]:
users=[{"id":1,
        "first_name":"a",
        "amount_paid":1000
       },
       {"id":2,
        "first_name":"b",
        "amount_paid":1200
       }
      ]

df4=spark.createDataFrame(users)
df4.show()

+-----------+----------+---+
|amount_paid|first_name| id|
+-----------+----------+---+
|       1000|         a|  1|
|       1200|         b|  2|
+-----------+----------+---+